@import '~bootstrap/dist/css/bootstrap';

.right-alignment {
  margin: 0 0 0 auto;
}

.width-45 {
  width: 45px;
}

.padding-0 {
  padding: 0;
}

.btn-post {
  width: 76px;
  padding: 8px 0;
}

.btn-comment {
  padding: 4px 4px;
  font-size: 75%;
}

.btn-col {
  padding: 0;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post {

}

.valid-pager, .current-pager, .disabled-pager {
  display: block;
  padding: 5px;
  border: 1px solid #0fbbfa;
  height: 40px;
  text-align: center;

  &.number-pager {
    width: 30px;
  }

  &.letter-pager {
    width: 50px;
  }
}

.form-control {
  height: 40px;
}

.search-form-group {
  margin-bottom: 0;
}

.menu-secondary-item {
  margin-top: 16px;
}

.post-search-autocomlete {
  background-color: #e9ebf5;
  border-bottom: 1px dotted white;
  padding: 5px 0 5px 20px;
}

.autocomplete-block {
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;

}

.data-list-item {
  background-color: #f7f8fa;
  padding: 20px;
}

.comment-row {
  border: 1px solid white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-comment-user {
  padding: 0;
  font-size: 75%;
  position: relative;
  top: 15px;
}

.col-comment-delete {
  padding: 0;
  font-size: 75%;
  position: relative;
  right: 0;
  top: 15px;
}

.col-comment-content {
  padding-top: 30px;
}

.loading-message {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(180, 182, 217, 0.7);
  left: 0;
  top: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 6;
}

.loading-message-text {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 50%;
  font-size: 500%;
}